.inputele-container {
    text-align: center;
    margin-top: 40px;
}

.Container {
    background-color: rgb(203, 226, 247);
    width: 14%;
    /* border: 1px solid red; */
    height: 50px;
}

.welcome {
    background-color: antiquewhite;
    width: 14%;
    height: 38px;
    /* text-align: center; */
    padding: 10px 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* .Container h2{
    background-color: aqua;
} */

#tagContainer {
    background-color: transparent;
    width: 14%;
    height: 32px;
    /* text-align: center; */
    /* padding: 1px 0px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-top: -20px;
    /* margin-right: -20px; */
    /* border-left: 1px solid #faebd7; */
    /* border-right: 1px solid #faebd7; */
}

.welcome1 {
    background-color: #faebd7;
    width: 14%;
    height: 15px;
    /* text-align: center; */
    padding: 3px 0px;
    margin-top: -22px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}