.orange-box {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
    gap: 5px;
    /* flex-flow: column wrap; */
    /* flex-grow: 7; */
    /* flex: 4; */
    /* flex: auto; */
    /* flex-basis: auto; */
}

.orange {
    background-color: orange;
    /* flex-basis: 50%; */
    /* gap: 10px; */
    /* flex: 1 30px; */
    /* flex-grow: 4; */
    width: 100%;
    height: 40px;
    border: 1px solid black;
    /* flex-flow: column wrap; */
}

.green-box {
    background-color: aquamarine;
    height: 160px;
    border: 1px solid black;
    margin-top: 16px;
    /* width: 100%; */
}

.blue-box {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-top: 16px;
}

.blue {
    background-color: skyblue;
    border: 1px solid black;
    width: 100%;
    height: 140px;
}

.gray-box {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-top: 16px;
}

.gray-flex {
    display: flex;
    width: 100%;
    gap: 5px;
}

.gray {
    background-color: gray;
    border: 1px solid black;
    width: 100%;
    height: 110px;
}

@media screen and (min-width:321px) and (max-width:728px) {
    .orange-box {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* gap: 5px; */
    }

    .orange {
        background-color: orange;
        /* width: 100%; */
        height: 35px;
        border: 1px solid black;
    }

    .green-box {
        background-color: aquamarine;
        height: 120px;
        border: 1px solid black;
        margin-top: 10px;
        width: 100%;
    }

    .blue-box {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* gap: 5px; */
        margin-top: 10px;
    }

    .blue {
        background-color: skyblue;
        border: 1px solid black;
        /* width: 100%; */
        height: 60px;
    }

    .gray-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* gap: 5px; */
        /* flex-wrap: wrap; */
        margin-top: 10px;
        width: 100%;
        /* width: 50%; */
        /* flex-direction: row; */
    }

    .gray-flex {
        display: flex;
        /* flex-direction: column; */
        width: 100%;
        gap: 5px;
    }

    .gray {
        background-color: gray;
        border: 1px solid black;
        flex-wrap: wrap;
        /* width: 50%; */
        /* flex-grow: 7; */
        height: 65px;
    }
}

@media screen and (max-width:320px) {
    .orange-box {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* gap: 5px; */
    }

    .orange {
        background-color: orange;
        /* width: 100%; */
        height: 26px;
        border: 1px solid black;
    }

    .green-box {
        background-color: aquamarine;
        height: 75px;
        border: 1px solid black;
        margin-top: 10px;
        width: 100%;
    }

    .blue-box {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* gap: 5px; */
        margin-top: 10px;
    }

    .blue {
        background-color: skyblue;
        border: 1px solid black;
        /* width: 100%; */
        height: 85px;
    }

    .gray-box {
        display: block;
        /* flex-direction: column; */
        /* justify-content: space-around; */
        /* gap: 5px; */
        /* flex-wrap: wrap; */
        margin-top: 10px;
        /* width: 50%; */
        /* flex-direction: row; */
    }

    .gray-flex {
        display: block;
        /* flex-direction: column; */
        /* width: 100%; */
        /* gap: 5px; */
    }

    .gray {
        /* flex-direction: column; */
        background-color: gray;
        border: 1px solid black;
        margin-bottom: 4px;
        /* flex-wrap: wrap; */
        /* width: 50%; */
        /* flex-grow: 7; */
        height: 40px;
    }
}